In [7]:
#Ans1:A database is a structured collection of data that is stored and managed in a way that allows for efficient retrieval, manipulation, and organization. It serves as a repository for data, ensuring that it is stored in a systematic manner so that it can be easily accessed, updated, and managed
#SQL Databases
#1.Structure: SQL databases are relational, meaning they use structured schemas with predefined tables and relationships. Data is stored in rows and columns.
#2.Data Integrity:SQL databases ensure ACID (Atomicity, Consistency, Isolation, Durability) 
#3.Scalability:Traditionally, SQL databases scale vertically, meaning you add more power (CPU, RAM) to a single server to handle increased loads.
#NoSQL Databases
#1.Structure:NoSQL databases are often schema-less or have flexible schemas. Data can be stored in various formats including key-value pairs, documents, wide-columns, or graphs.
#2.Data Integrity:NoSQL databases often follow BASE (Basically Available, Soft state, Eventually consistent) principles, which offer more flexible consistency models compared to ACID.
#3.Data Integrity:NoSQL databases often follow BASE (Basically Available, Soft state, Eventually consistent) principles, which offer more flexible consistency models compared to ACID.

In [9]:
#Ans2:DDL stands for Data Definition Language. It comprises a subset of SQL commands used to define and manage the structure of database objects such as tables, indexes, and schemas. 
#1. CREATE:The CREATE command is used to create new database objects such as tables, indexes, views, and schemas.
#Example:  CREATE TABLE Employees (
            #EmployeeID INT PRIMARY KEY,
            #Name VARCHAR(50),
            #Position VARCHAR(50)
            #);
#2. DROP:The DROP command is used to delete existing database objects like tables, indexes, or views.
#Example: DROP TABLE Employees;
#3. ALTER:The ALTER command is used to modify the structure of an existing database object, such as adding, deleting, or modifying columns in a table.
#Example: ALTER TABLE Employees
#         ADD DateOfJoining DATE;
#4. TRUNCATET:The TRUNCATE command is used to remove all rows from a table, but unlike DROP, it does not remove the table itself. It also resets any auto-increment counters.
#Example: TRUNCATE TABLE Employees;

In [11]:
#Ans3:DML stands for Data Manipulation Language. It is a subset of SQL commands used for managing and manipulating the data within a database. 
#1. INSERT:The INSERT command is used to add new rows of data into a table.
#Example:- 
#          INSERT INTO Employees (EmployeeID, Name, Position, DateOfJoining)
#          VALUES (1, 'Alice Johnson', 'Software Engineer', '2024-08-16');
#2.DELETE:The DELETE command is used to remove one or more rows from a table.
#Example:- 
#         DELETE FROM Employees
#         WHERE EmployeeID = 1;
#3. UPDATE: The UPDATE command is used to modify existing records in a table.
#Example:- UPDATE Employees
#          SET Position = 'Senior Software Engineer'
#          WHERE EmployeeID = 1;

In [13]:
#Ans4: DQL stands for Data Query Language. It is a subset of SQL commands used for querying and retrieving data from a database.
#SELECT Command: The SELECT command is used to query the database and fetch data according to the specified criteria.
#Example:- SELECT column1, column2, ...
#          SELECT Position, AVG(Salary) AS AverageSalary
#          FROM Employees
#          GROUP BY Position;

In [ ]:
#Ans5: a.Primary Key: A primary key is a unique identifier for a record within a database table. It ensures that each record can be uniquely identified and retrieved. 
#      b.Foreign Key: A foreign key is a column or set of columns in one table that uniquely identifies a row in another table.
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    """Connect to MySQL database and perform a simple query."""
    try:
        
        connection = mysql.connector.connect(
            host='localhost',          # Replace with your host
            user='root',               # Replace with your MySQL username
            password='password',       # Replace with your MySQL password
            database='test_db'         # Replace with your database name
        )

        if connection.is_connected():
            print("Successfully connected to the database")

            cursor = connection.cursor()
            cursor.execute("SELECT DATABASE();")
            db_name = cursor.fetchone()
            print(f"Connected to database: {db_name[0]}")

    except Error as e:
        print(f"Error: {e}")

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("Database connection closed")

if __name__ == "__main__":
    connect_to_mysql()

In [15]:
#Ans6:
#Firstly install mysql module then follow with the below code-
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host='localhost',      # Replace with your host
        user='root',           # Replace with your MySQL username
        password='password',   # Replace with your MySQL password
        database='test_db'     # Replace with your database name
    )
    
    if connection.is_connected():
        print("Connected to the database")
        cursor = connection.cursor()
        cursor.execute("SELECT DATABASE();")
        db_name = cursor.fetchone()
        print(f"Connected to database: {db_name[0]}")
except Error as e:
    print(f"Error: {e}")
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Database connection closed")
        
#cursor(): The cursor() method is used to create a cursor object.
#execute():The execute() method is used to execute a SQL query or command through the cursor object.

ModuleNotFoundError: No module named 'mysql'

In [5]:
#Ans7: 
#1.SELECT 
#2.FROM 
#3.JOIN 
#4.WHERE 
#5.GROUP 
#6.HAVING 
#7.ORDER 
#8.LIMIT